body {
    font-family: 'Raleway', sans-serif;
}

/*=====================================================================Nav Bar*/

.navbar-default {
    background-color: #4f6a8f;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #A7B9D6;
}

.navbar-default .navbar-nav>li>a {
    color: #A7B9D6;
}


/*==================================================================Containers*/

.home-container {
    height: 100vh;
    width: 100%;
    margin-top: 50px;
    background: url(/images/Ski-background-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.whistler-container {
    height: 100%;
    width: 100%;
    background: url(/images/whistler-dual-mountain2015.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.verbier-container {
    height: 100%;
    width: 100%;
    background: url(/images/verbier.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.stanton-container {
    height: 100%;
    width: 100%;
    background: url(/images/st-anton.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.vald-container {
    height: 100%;
    width: 100%;
    background: url(/images/val-d.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.newsletter-container {
    height: 100vh;
    width: 100%;
    background: url(/images/news.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*====================================================================Homepage*/

.top-title {
    color: #4f6a8f;
    font-family: 'Roboto', cursive;
    font-size: 420px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px 0 #a7b9d6, 0 1px #a7b9d6, 1px 0 #a7b9d6, 0 -1px #a7b9d6;
    display: block;
}

.second-title {
    color: #a7b9d6;
    font-weight: lighter;
    font-size: 30px;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: -1px 0 #4f6a8f, 0 1px #4f6a8f, 1px 0 #4f6a8f, 0 -1px #4f6a8f;

}

/*======================================================================Titles*/

.resort-title {
    background-color: #A7B9D6;
    padding: 30px;
    margin-top: 62px;
    color: #4f6a8f;
    height: 200px;
    font-size: 45px;
    border-radius: 10px;
    word-wrap: break-word;
}

.resort-title h1 {
    font-size: 50px;
    text-align: center;
}

.resort-title h4 {
    font-size: 25px;
    color: #4f6a8f;
    text-align: center;
}

.resort-title a i {
    color: #4f6a8f;
}

.key-facts {
    background-color: #A7B9D6;
    color: #4f6a8f;
    padding-top: 10px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.things-to-know {
    margin-top: 62px;
    color: #4f6a8f;
    background-color: #A7B9D6;
    padding-top: 10px;
    padding: 20px;
    border-radius: 10px;
}

.plan-trip {
    margin-top: 62px;
    color: #4f6a8f;
    background-color: #A7B9D6;
    padding-top: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.plan-trip h1 {
    text-align: center
}

.things-to-know .prices {
    background-color: #4f6a8f;
    color: #A7B9D6;
    padding: 15px;
    border-radius: 10px;

}

.things-to-know .prices li {
    font-style: italic;
}

.piste-map {
    margin-bottom: 35px;
    border-radius: 10px
}

.news-title {
    background: #a7b9d7;
    text-align: center;
    color: #4f6a8f;
    border-radius: 10px;
    height: 100px;
    padding: 15px;
    margin-top: 200px;
    font-size: 50px;
    word-wrap: break-word;
}


.contact-form {
    color: #4f698e;
    background: transparent;
    margin-top: 35px;
}

.news-footer{ background: #a7b9d7;
    text-align: center;
    color: #4f6a8f;
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    margin-top: 30px;
    font-size: 23px;
    overflow: auto;
}

.contact-form input {
    width: 175%;
    margin-left: -50px;
}

input {
    border-radius: 5px;
    margin: 5px;
}
/*===============================================================Booking Forms*/

.booking-form {
    width: 100%;
}

.btn {
    color: #a7b9d7;
    background-color: #4f6a8f;
    width: 150px;
    border-radius: 23px;
    margin-left: 30%;
    margin-right: -30%;
}


.btn:hover {
    background-color: #6d8bb5;
    border-color: #6d8bb5;
    color: #a7b9d7;
    transition: 0.25s ease-in-out
}

.btn-news {
    color: #a7b9d7;
    background-color: #4f6a8f;
    width: 150px;
    border: 0px;
    border-radius: 23px;
    margin-top: 10px;
    margin-left: -30px;
}

.btn-news:hover {
    background-color: #6d8bb5;
    border-color: #6d8bb5;
    color: #a7b9d7;
    transition: 0.25s ease-in-out
}

/*===============================================================Media Queries*/

/*----------Mobile Queries*/

@media (max-width: 767px) {
    .home-container {
        width: auto;
    }
}

@media (max-width: 767px) {
    .resort-title {
        margin-top: 15px;
        padding: 28px;
    }
    .things-to-know {
        margin-top: 15px;
    }
    .key-facts {
        margin-bottom: 0px;
    }
    .piste-map {
        margin-bottom: 0px
    }
    .plan-trip {
        margin-top: 15px;
        size: auto;
    }
    .tourist-vid {
        margin-bottom: 10px;
    }
    
    .news-title {
        margin-top: 15px;
    }
}

/*----------Tablet Queries*/

@media (min-width: 768px) and (max-width: 991px) {
    .resort-title {
        margin-top: 15px;
    }
    .things-to-know {
        margin-top: 15px;
    }
    .key-facts {
        margin-bottom: 0px;
    }
    .piste-map {
        margin-bottom: 0px
    }
    .plan-trip {
        margin-top: 15px;
    }
    .tourist-vid {
        margin-bottom: 10px;
    }
     .news-title {
        margin-top: 15px;
    }
}
